site_name: single_cell_tutorial Readthedocs
repo_url: https://github.com/Starlitnightly/single_cell_tutorial
site_author: "Zehua Zeng"
copyright: git"Copyright &copy; 2019-2023, 112 Lab, USTB"

nav:
- 写在前面: index.md
- 介绍:
    - 1-1. 现有技术: Introduction/1-1.md
    - 1-2. 单细胞RNA测序: Introduction/1-2.md
    - 1-3. 原始数据处理: error.md
    - 1-4. 分析框架与工具: Introduction/1-4.ipynb
    - 1-5. 环境配置: error.md
- 预处理和可视化:
    - 2-1. 质量控制: preprocess/2-1.ipynb
    - 2-2. 标准化: preprocess/2-2.ipynb
    - 2-3. 特征选择: preprocess/2-3.ipynb
    - 2-4. 降维: preprocess/2-4.ipynb
    - 2-5. 批次效应校正: preprocess/2-5.ipynb
- 细胞类型识别:
    - 3-1. 聚类: Identifying cellular structure/3-1.ipynb
    - 3-2. 手动注释: Identifying cellular structure/3-2.ipynb
    - 3-3. 自动注释(一): error.md
    - 3-4. 自动注释(二): error.md
    - 3-5. 迁移注释: error.md
- 细胞状态分析:
    - 4-1. 差异表达分析: error.md
    - 4.2. 主成分与模块分解: error.md
    - 4.3. 基因集与通路富集分析: error.md
    - 4.4. 扰动建模(一): error.md
    - 4.5. 扰动建模(二): error.md
- 轨迹推断:
    - 5-1. 拟时序推测(一): error.md
    - 5-2. 拟时序推测(二): error.md
    - 5-3. RNA速率: error.md
    - 5-4. 谱系分化通路: error.md
- 调控建模:
    - 6-1. 基因调控网络GRN: error.md
    - 6-2. 细胞间通讯: error.md




plugins:
  - mkdocs-jupyter
  - bibtex:
      bib_file: "docs/ref/ref.bib"

theme:
  name: material
  custom_dir: docs/overrides

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.inlinehilite
  - footnotes

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

